<h1>This is the turbolinks demo</h1>

<div>
  <p>This link is a regular get route</p>
  <%= link_to 'get route', demo_show_path%> <br>
</div>

  <p>This link is an AJAX call</p>
<div id="ajax">
  <%= link_to 'AJAX Call', demo_show_path%> <br>
</div>

  <p>This link is a Turbolink</p>
<div id="turbolink">
  <%= link_to 'Turbolink', demo_show_path%> <br>
</div>

